body{
    background:#f5f7fa;
    font-family:Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    width:500px;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

h1{
    color:#2d7ff9;
}

button{
    margin-top:20px;
    padding:15px 30px;
    background:#2d7ff9;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}